<!--
<mat-toolbar >
    <mat-toolbar-row>
        
        <span>NEOXAM</span>

        <div fxFlex fxLayout="row-reverse" fxLayouyAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px" >
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help</mat-icon>
                    </button>
                </li>
                <li>
                   <button mat-button [matMenuTriggerFor]="menu">
                       <mat-icon>person_outline</mat-icon>
                   </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>exit_to_app</mat-icon>
                            sign out
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
 
    </mat-toolbar-row>
</mat-toolbar>
-->

<nav class="navbar navbar-expand navbar-light ">
    <a href="#" class="navbar-brand">
     <img src="../assets/images/neo.png">
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      
      <li class="nav-item" *ngIf="showAdminBoard">
        <a  class="nav-link" routerLink="admin">Admin </a>
      </li>
      
      <li class="nav-item"  >
        <a href="/user" class="nav-link" [hidden]="showAdminBoard" *ngIf="isLoggedIn" routerLink="user">Collaborateur</a>
      </li>
      
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link Signup" routerLink="register">S'inscrire</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link login"  routerLink="login">Se connecter</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a> 
        <a  class="nav-link" >{{ username }}</a> 
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">déconnecter</a>
      </li>
    </ul>
  </nav>

  
    
    <router-outlet></router-outlet>