
<div class="col-md-12">
    <div class="card card-container">
      <img
        src="../../assets/images/background.png"
       
      />
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
       
       
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>


        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              [(ngModel)]="form.confirmPassword"
              required
              minlength="6"
              #confirmPassword="ngModel"
            />
            <!--
            <div class="alert-danger" *ngIf="confirmPassword.errors && (confirmPassword.invalid && confirmPassword.touched) ">
             
              <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
              <div [class.d-none]="(password.value==confirmPassword.value)">
                Passwords don't match
              </div>
            </div>
            -->
            <div class="alert-danger" *ngIf="(confirmPassword.errors && f.submitted )|| (password.value!=confirmPassword.value && f.submitted)">
              <div *ngIf="confirmPassword.errors?.required">Confirm Password is required</div>
              <div *ngIf="(password.value!=confirmPassword.value)">
                Passwords don't match
              </div>
            </div>
          </div>

        <div class="form-group">
          <button class="btn btn-primary btn-block">Reset</button>
        </div>
  
        <div class="alert alert-warning" *ngIf="f.submitted && isResetFailed">
          Reset failed!<br />{{ errorMessage }}
        </div>
      </form>
  
      <div class="alert alert-success" *ngIf="isSuccessful">
        Reset is successful!
      </div>
    </div>
  </div>
  
  
  