/* You can add global styles to this file, and also import other style files */

.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #008080;
    color:white;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
	margin:auto;
}
.btn:hover, .btn:focus{
	background-color: #008080;
	color:#fff;
}

img {
	width: 100%;
	height: 100%;
  }

  