:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}
mat-drawer{
    width: 14%;
    margin: 20px;
    margin-top: 40px;
    padding: 20px;
  /* background-color: rgb(4, 64, 148);*/
   
  background-color: rgb(240, 242, 251);

    border-radius: 2px;
}
mat-drawer-container{
    height:100%;
    /*background-color: rgb(240, 242, 251);*/
    
    background-color: rgb(30, 64, 112);

}
app-footer{
    background-color: rgb(31, 71, 128);

}